.products-table{
    display: grid;
    gap: 25px;
    padding: 2em;
}
.product-table{
    background-color: white;
    display: flex;
    width: 98%;
    border-radius: 5px;
    justify-self: center;
}
div.div-title-table{
    height: 20px;
}
p.title-table{
    font-family: Rubik;
    font-weight: bold;
}
div.div-description-table{
    display: flex;
    height: 95px;
    padding: 2px;
}
p.description-table{
    font-family: Rubik;
    overflow: auto;
}
p.price-table{
    font-family: Rubik;
    font-weight: bold;
    color:brown;
}
.info-table{
    display: grid;
    height: 125px;
}
.buttons-table{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.img-table{
    width: 100px;
    height: 100px;
    padding: 4px;
}
