@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Rubik:wght@400;600&display=swap');

body{
    background-color: #222;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    gap: 3em;
    padding: 2em;
}