@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Rubik:wght@400;600&display=swap');

body{
    background-color: #222;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    gap: 3em;
    padding: 2em;
}
button.view{
    display: flex;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 4px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    
}
.view {
    background-position: center;
    transition: background 0.8s;
  }
  .view:hover {
    background: #222 radial-gradient(circle, transparent 1%, #222 1%) center/15000%;
  }
  .view:active {
    background-color: grey;
    background-size: 100%;
    transition: background 0s;
  }